/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: #16181d;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  background: #303432b5;
  border-radius: 4px;
}

::-webkit-scrollbar {
  behavior: s;
}
html {
  scroll-behavior: smooth;
}
.hero-overlay {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 90%,
    rgba(40, 44, 53, 0.8) 95%,
    rgba(40, 44, 53, 1) 100%
  );
}

.second-overlay {
  background: linear-gradient(
    180deg,
    rgba(40, 44, 53, 1) 0%,
    rgba(40, 44, 53, 0.1) 5%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
p {
  margin-bottom: 1.75rem;
  line-height: 1.75;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
